<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center">
            <h1 class="mb-1">Seguridad de Redes</h1>
            <h3 class="mb-5">
                <em>¡Happy Hacking!</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Empieza ahora!</a>
            <h3 class="mb-5">
                <em>Valenzuela Juárez Axel</em><br>
                <em>Márquez Cervantes Martín</em><br>
                <em>Lagunas Hernández Eduardo Antonio</em>
            </h3>
        </div>
    </header>
</main>