<main class="index">
    <header class="masthead d-flex">
        <div class="card-img-top mx-auto m-2 container text-center my-auto"  src="https://cdn.pixabay.com/photo/2018/04/22/22/57/hacker-3342696_960_720.jpg" alt="Deposito" >
            <scroll-container>
            <h1 class="mb-1">Seguridad de Redes</h1>
            <h3 class="mb-5">
                <em>¡Happy Hacking!</em>
            </h3>
            <a href="/signin" class="btn btn-primary">Empieza ahora!</a>
            <h3 class="mb-5">
                <em>Valenzuela Juárez Axel</em>
            </h3>
            <h3 class="mb-5">
                <em>Márquez Cervantes Martín</em>
            </h3>
            <h3 class="mb-5">
                <em>Lagunas Hernández Eduardo Antonio</em>
            </h3>
            </scroll-container>
        </div>
    </header>
</main>